/* Estilos generales */
.form-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    background-image: url(https://media.istockphoto.com/id/1201405775/es/foto/programaci%C3%B3n-de-la-tecnolog%C3%ADa-abstracta-de-c%C3%B3digo-de-fondo-del-desarrollador-de-software-y.jpg?b=1&s=612x612&w=0&k=20&c=hj3kmIZOHW1fEQHl0QkKwzLSjDDgDqF37eCmDqQVntA=);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.5);
  }
  
  /* Estilos de los campos de texto */
  .form-control {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos de los botones */
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .submit-button,
  .cancel-button,
  .hide-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: #fff;
  }
  
  .hide-button {
    background-color: #ccc;
    color: #fff;
  }
  
  .submit-button:hover,
  .cancel-button:hover,
  .hide-button:hover {
    opacity: 0.8;
  }
  
  /* Animación de aparición del formulario */
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplicar animación de aparición al formulario */
  .form-container {
    animation: fadeInAnimation 2s ease-in-out forwards;
  }
  
  /* Alineación profesional */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    margin-bottom: 15px;
  }
  

  
  /* Estilos adicionales para mejorar la legibilidad */
  .form-container {
    line-height: 1.6;
  }
  
  .button-container button {
    margin-left: 10px;
  }
  
  /* Alineación vertical y horizontal del formulario */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container form {
    width: 100%;
    max-width: 400px;
  }
  
  .button-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Estilos para la validación de errores */
  .error-message {
    border-radius: 5px;
    background-color: goldenrod;
    font-size: 14px;
    margin-top: 5px;

  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://media.istockphoto.com/id/1201405775/es/foto/programaci%C3%B3n-de-la-tecnolog%C3%ADa-abstracta-de-c%C3%B3digo-de-fondo-del-desarrollador-de-software-y.jpg?b=1&s=612x612&w=0&k=20&c=hj3kmIZOHW1fEQHl0QkKwzLSjDDgDqF37eCmDqQVntA=);
    color: white;
    padding: 20px;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    font-style: italic;
    display: flex;
    flex-direction: column-reverse;
    font-weight: bold;
    
  }
  
  .modal.header h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .modal-header .close {
    color: white;
    font-size: 24px;
  }
  
  .modal-header .close:hover {
    color: lightgray;
  }